#emailreset{
  background-color: transparent;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 2px;
  margin-bottom: 1%;
  padding: 3px 10px;}

#emailresetinfo{
  font-size: 90%;
  background-color: transparent;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width:50%;
  height: 3%;
}

#titlereset{
  text-align:center;
  font-size:200%;
}
